.listItems {
  font-family: "Mulish", "sans-serif";
  background-color: #3c3d37;
}

/*-------------------AdminOurSportsTypes------------------------*/
@media screen and (max-width: 766px) {
  .AdminOurSportsTypes {
  }
}

/*-------adminNavbarToggleRespone--------*/
@media screen and (max-width: 766px) {
  .adminNavbarToggleRespone {
    position: absolute;
    top: 1%;
  }
}
