.navbarHeader {
  /* background-color: #fbfbfb !important; */
  background-color: #eb8317 !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.hrTag {
  position: relative;
  border: none;
  background-color: transparent;
  overflow: hidden;
  border-top: 3px solid #6d6a6a !important;
}

.hrTag:hover {
  width: 100% !important;
  border-top-color: #ff6347 !important;
}

.listItems {
  font-family: "Mulish", "sans-serif";
  font-optical-sizing: auto !important;
  font-weight: 800;
  font-size: 19px;
  color: #fff;
}

/*---Navbar-Header-Logo---*/
@media screen and (max-width: 989px) {
  .navbarHeader {
    background-color: #eb8317 !important;
    padding: 0px;
  }
  .navbarBrand {
    margin-left: -43px;
  }
  .listItems {
    text-align: center !important;
    width: 100% !important;
    padding-top: 22px !important;
    color: #fff;
  }
  .hrTag {
    color: red;
    transform: none !important;
    width: 100%;
    height: 0 !important;
  }
  .headerLogo {
    width: 140px;
    height: 79px;
  }
}
